body {
	background: #efefef;
}

.logo {
	height: 35px;
    margin-bottom: 15px;
}

#app {
	padding: 25px;
    padding-top: 20px;
    margin-top: 35px !important;
    text-align: inherit !important;
}

#menu {
	margin-bottom: 20px;
	text-align: center;
}

.container {
	background: #fff;
    border-radius: 25px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    min-height: 600px;
}

.items-list {
	text-align: left;
    list-style: none;
    padding: 0px;
}

.items-list li {
	background: #fff;
    border: 1px #eee solid;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 1px 1px 8px #eee;
    margin-bottom: 15px;
}

.items-list li h4 {
	margin-bottom: 4px;
}

.items-list li h6 {
	margin-bottom: 0px;
}

.listpage .options > .btn {
	border-radius: 50%;
    font-weight: bold;
    padding: .2rem 1.1rem;
    font-size: 2rem;
}

#listsList {
	margin-top: 20px;
}

#listsList li h4 {
	display: inline;
}

#listsList li a {
	text-decoration: none;
    color: #007bff;
    cursor: pointer;
    float: right;
}

.loading-image {
	width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
}

#placesListComponent {
	width: 100%;
}

#home-messages {
	text-align: center;
	margin-top: 45px;
}