body {
	background: #efefef;
}

.logo {
	height: 35px;
    margin-bottom: 15px;
}

.header-links {
    text-align: right;
}

.header-links > a {
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
}

#app {
	padding: 25px;
    padding-top: 20px;
    margin-top: 35px !important;
    text-align: inherit !important;
}

#menu {
	margin-bottom: 20px;
	text-align: center;
	padding-right: 0px;
}

.container {
	background: #fff;
    border-radius: 25px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    min-height: 600px;
}

.items-list {
	text-align: left;
    list-style: none;
    padding: 0px;
}

.items-list li {
	background: #fff;
    border: 1px #eee solid;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 1px 1px 8px #eee;
    margin-bottom: 15px;
}

.items-list li h4 {
	margin-bottom: 4px;
}

.items-list li h6 {
	margin-bottom: 0px;
}

.listpage .options {
	padding-right: 0px;
}

.listpage .options > .btn {
	border-radius: 50%;
    font-weight: bold;
    padding: .2rem 1.1rem;
    font-size: 2rem;
}

#listsList {
	margin-top: 20px;
}

#listsList li h4 {
	display: inline;
}

#listsList li h4 img {
   	height: 20px;
    margin-bottom: 8px;
    cursor: pointer;
}

#listsList li > a {
	text-decoration: none;
    color: #007bff;
    cursor: pointer;
    float: right;
}

.loading-image {
	width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
}

#home-messages {
	text-align: center;
	margin-top: 45px;
}

#placesList li {
	display: table;
    width: 100%;
}

#placesList li > div {
	display: table-cell;
}

#placesList li a {
    display: table-cell;
    width: 100px;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

#addToListModalLists {
    margin-left: 0px;
    padding: 0px;
    list-style: none;
}

#addToListModalLists li {
	display: table;
	width: 100%;
}

#addToListModalLists li > span {
	display: table-cell;
    font-weight: 600;
}

#addToListModalLists li > a {
	text-decoration: none;
    color: #007bff;
    cursor: pointer;
    display: table-cell;
    width: 120px;
    vertical-align: middle;
}

#addToListModalLists li a.added {
    color: #30c321;
    cursor: default;
}

#places-filters {
	margin-bottom: 20px;
}

.checkin-button {
   	color: #007bff !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.checked-place {
	color: #30c321;
}

#adminpanel .nav-pills {
	margin-bottom: 20px;
}

#adminpanel > .row > .tabs {
	width: 100%;
}

.registeredPlaceCard {
	margin-bottom: 20px;
}